.right-button{
  position: fixed;
  right: 1em;
  top: 6em;
  background-color: #0D47A1;
}

.left-button{
  position: fixed;
  left: 1em;
  top: 6em;
}

button > a{
  text-decoration: none;
  font-size: 1.5em;

.link{
font-weight: bolder;
width: 50%;
text-align: center;
margin: auto;
padding-bottom: 5%;
}